img {
  width: 100vw;
  height: auto;
  margin: 0;
  max-width: 100%;
}

/* When phone is in landscape mode */
@media screen and (orientation: landscape) {
  img {
      width: 100%;
      height: 100vh;
      object-fit: contain;
      /* Optional: center the image if it doesn't fill the whole space */
      display: block;
      margin: auto;
  }
}