img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  margin: 0;
  max-width: 100%;
}

body {
  margin: 0;
  overflow: hidden; /* Prevents scrolling */
  background: black;
}

/* When phone is in landscape mode */
@media screen and (orientation: landscape) {
  img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    display: block;
    margin: 0;
  }
}